table {
    margin: 25px 0;
    font-size: 1.5em;
    font-family: sans-serif;
    min-width: 400px;   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead {
    border-bottom: 1px solid #dddddd;
}

td {
    padding: 10px; 
}

tbody {
    border-bottom: 1px solid #dddddd;
}
tfoot {
    font-size: 80%;
    text-align: right;
}
