/** {
    border: 1px solid black; 
}*/

#container {
    width: 80%; 
    min-width: 640px; 
    margin: 0px auto; 
}

header{
    height: 200px; 
    border-bottom: 1px solid #979191; 
}
main {

}
nav {
    width: 15%;
    min-width: 150px;
    float: left;
    min-height: 560px;
    padding: 10px;
    border-right: 1px solid #979191;
}
content {
    width: 65%;
    min-width: 340px;
    float: left;
    min-height: 560px;
    padding: 20px 10px; 
}
aside {
    width: 20%;
    min-width: 150px;
    float: right;
    min-height: 560px;
    padding: 10px;
    border-left: 1px solid #979191;
}

footer {
    clear: both;
    height: 40px;
    text-align: right;
    padding: 7px 20px 0px 0px;
    letter-spacing: 5px;
    border-top: 1px solid #979191;
}