/** {
    border: 1px solid black; 
}*/

#container {
    width: 80%; 
    min-width: 640px; 
    margin: 0px auto; 
}

header{
    height: 200px; 
    border-bottom: 1px solid #979191; 
}
main {

}
nav {
    width: 15%;
    min-width: 150px;
    float: left;
    min-height: 560px;
    padding: 10px;
    border-right: 1px solid #979191;
}

nav ul {
    list-style-type: none; 
    padding: 0px; 
}

.level1 {
    margin-top: 10px; 
}

.level2 {
    font-size: 80%;
    padding-left: 15px; 
}

.level3 {
    display: inline; 
    padding-right: 25px;
}

content {
    width: 65%;
    min-width: 340px;
    float: left;
    min-height: 560px;
    padding: 20px 10px; 
}
aside {
    width: 20%;
    min-width: 150px;
    float: right;
    min-height: 560px;
    padding: 10px;
    border-left: 1px solid #979191;
}

footer {
    clear: both;
    height: 40px;
    text-align: right;
    padding: 7px 20px 0px 0px;
    border-top: 1px solid #979191;
}

a:hover {
    text-decoration: none; 
    font-weight: bold; 
}