@* ist eine PARTIELLE VIEW
    partielle Views werden in andere Views eingefügt    
    kann dadurch mehrfach eingebunden werden - an verschiedenen Stellen
*@

<ul>
    <li class="level1">
        <a href="/home/index">Startseite</a>
    </li>
    <li class="level2">
        <a href="/home/aboutUs">Über uns</a>
    </li>
    <li class="level2">
        <a href="/home/impressum">Impressum</a>
    </li>


    <li class="level1">
        <a href="/user/index">Userverwaltung</a>
    </li>
    <li class="level2">
        <a href="/home/registration">Registrieren</a>
    </li>
    <li class="level2">
        <a href="/home/login">Login</a>
    </li>

    <li class="level1">
        <a href="/shop/index">Onlineshop</a>
    </li>
    <li class="level2">
        <a href="/home/shop">Artikelsuche</a>
    </li>
    <li class="level2">
        <a href="/home/basket">Warenkorb</a>
    </li>

</ul>