@model FirstWebApp.Models.User

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<form id="formReg" asp-controller="user" asp-action="registration" method="post">
    <p>
        <label> Benutzername </label><br />
        <input type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </p>
    <p>
        <label> Password </label><br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <label> Email </label><br />
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <span id="eMailMessage" style="visibility:hidden; color:red; font-size:0.8em;font-weight:bold"> E-Mail existiert bereits</span>
    </p>
    <p>
        <label> Birthdate </label><br />
        <input type="date" asp-for="Birthdate" />
        <span asp-validation-for="Birthdate"></span>
    </p>
    <p>
        <label> Geschlecht </label><br />
        <select asp-for="Gender">
            <option value="0">männlich</option>
            <option value="1">weiblich</option>
            <option value="2" selected>nicht angegeben</option>
        </select>
        <span asp-validation-for="Gender"></span>
    <p>
        <input type="submit" value="absenden" />
        <input type="reset" value="abbrechen" />
    </p>

    </p>
</form>

<button id="btnToggle">
    Ein-/Ausschalten
</button>
@section Scripts {
    <script src="~/js/registration.js" asp-append-version="true"></script>
}
